<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test Email for ConnectUs</h1>
    <p>
      Hallo, <br>
      Jerome, Olivia, oder wer auch immer diese Email bekommt. Ich hab es jetzt geschafft! Es existiert jetzt basically eine Website bei der jedes mal wenn jemand auf send clickt wir drei diese Email bekommen. Falls ihr es auch mal testen wollt: https://connectus-mailer.herokuapp.com/ bitte übertreibt es nicht ;)<br>
      Gruß <br>
      Alisia
    </p>
  </body>
</html>
